body{
  background-color: lightgray;
  font-family: Alial;
}

h1{
  color: black;
  padding-left: 5px;
}

main{
  width: 600px;
  height: 500px;
  color: black;
  padding-left: 650px;
  top: 175px;
  position: absolute;
}

#check{
  margin: auto;
}

#table{
  padding-top: 5px;
}

#letter_0{
  width: 50px;
    height: 50px;
    margin: 5px;
    background-color: rgb(100,100,100);
    display: inline-block;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 35px;
}

#letter_1{
  width: 50px;
    height: 50px;
    margin: 5px;
    background-color: rgb(100,100,100);
    display: inline-block;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 35px;
}

#letter_2{
  width: 50px;
    height: 50px;
    margin: 5px;
    background-color: rgb(100,100,100);
    display: inline-block;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 35px;
}

#letter_3{
  width: 50px;
    height: 50px;
    margin: 5px;
    background-color: rgb(100,100,100);
    display: inline-block;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 35px;
}

#letter_4{
  width: 50px;
    height: 50px;
    margin: 5px;
    background-color: rgb(100,100,100);
    display: inline-block;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 35px;
}

td{
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: rgb(100,100,100);
  display: inline-block;
  border-radius: 5px;
  border: 2px solid black;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 35px;
}
